{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="mt-1">
        <h1>Would you prefer a good game of Spotify Playlist Creation?</h1>
    </div>
    <p>
        Veiw Your Profile Playlist:
        <a href="{{ url_for('profile') }}">
            Click Here
        </a>.
    </p>

    <p>
        Veiw Top Playlist:
        <a href="{{ url_for('featured_playlists') }}"> Click Here</a>.
    </p>


    <p>
        Search for Song:
        <a href="{{ url_for('search') }}"> Click Here</a>.
    </p>

</div>

{% endblock %}
